*,::after,::before{box-sizing:border-box}*{margin:0}body{line-height:1.5;-webkit-font-smoothing:antialiased}canvas,img,picture,svg,video{display:block;max-width:100%}button,input,select,textarea{font:inherit}h1,h2,h3,h4,h5,h6,p{overflow-wrap:break-word}#__next,#root{isolation:isolate}

body {
    background: #ededed;
}

.inputArea, .printArea {
    width: 21cm;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.printArea {
    margin-bottom: 30px;
    background: #fff;
}


fieldset {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 15px;
}

#grids{
    display: grid;
    grid-template-columns: repeat(3, minmax(0,1fr));
}
.items {
    font-size: 12px;
    padding: 5px;
    border: 2px dashed #eee;
}